.menu {
    figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .menu__background {
        @include for-tablet-up {
            height: 40rem;
        }

    width: 100%;
    height: 320px;        
    object-fit: cover;
    position: relative;
    z-index: -1;
    }    
    
    &__master {
        display: flex;
        flex-flow: column;
        background: $colour-background-light;
        margin-top: -15%;
        border-radius: 3rem 3rem 0 0;    
        .menu__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

h3 {
position: relative;
&::after {
content:"";
position: absolute;        
bottom: -.5rem;
width: 7%;
display: block;
height: .2rem;
background-color:$colour-tertiary;
}
}


.bloc__menu__buttons
{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        gap: 1rem;
       
        &__btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            align-content: center;
            width: 100%;
            height: 25%;
            border-radius: 20px 20px 20px 20px;
            @include box-shadow;
              &:hover {
                  
                 .bloc__menu__buttons__animation {
                    display: flex;
                    animation-duration: 1s;
                    animation-name: slidein;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    transition-timing-function: ease-in-out;
               
                    

                 }
                .fa-check-circle {
                    animation: rotate 500ms forwards;
                    color: white;
                    font-size: 2rem;
                }
            }
          
            &__text {
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 1rem;
                @include threedots;
                
                

            }
            &__price
            {
                padding-top: 1rem;
                padding-right: 1rem;

            }
        }
    }

    .bloc__menu__buttons__animation {
        
        display: none;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 20%;  
        padding-right: 1rem;
        background-color: $colour-tertiary; 
        border-radius: 0px 20px 20px 0px;
        
       }


.order-bloc
{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}