
$colour-primary: #9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-location:#c6c3c3;
$colour-background-light: rgb(245, 245, 245);
$colour-background-medium: rgb(231, 231, 231);
$colour-background-dark:rgb(42, 42, 42);


$margin-main: 2rem;

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: 200ms;
